/* Colors */
:root {
  --primary: #03312e;
  --secondary: white;
  --accent: gray;
}

/* Breakpoints */

:root {
  --mobile: 576px;
  --tablet: 768px;
  --laptop: 992px;
  --desktop: 1200px;
}

/*Common*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
body {
  overflow-y: scroll;
  line-height: 1.5rem;
}

/*Fonts*/

a,
li,
span,
div,
p,
button {
  font-family: "Nunito", sans-serif;
  color: white;
}

h1,
h2 {
  font-family: "Comfortaa", cursive;
  color: white;
}
