/* Colors */
:root {
  --primary: black;
  --secondary: white;
  --primary-lt: #222;
  --accent: lightgray;
}

/* Breakpoints */

:root {
  --mobile: 576px;
  --tablet: 768px;
  --laptop: 992px;
  --desktop: 1200px;
}

/*Common*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.6rem;
}

strong {
  font-weight: bold;
}

/*Fonts*/

a,
li,
span,
div,
p,
button {
  font-family: 'Work Sans', sans-serif;
  color: var(--secondary);
}

/* General element style */

a{
  transition: color 100ms ease-in-out;
  position: relative;
}


a:visited:not(.company-name){
  color:chocolate;
}

a:hover:hover{
  color: orange;
}

a:not(.company-name)::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: right;

  transition: transform 250ms ease-in;
}

a:not(.company-name):hover::before{
  transform-origin: left;
  transform: scaleX(1);
}

button {
  color: var(--primary);
  cursor: pointer;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.hidden {
  display: none;
}

input {
  accent-color: var(--accent);
}

select {
  background-color: var(--primary);
  color: var(--accent);
  border: 1px solid var(--accent);
}

button {
  height: 2rem;
  margin-left: 0.5rem;
  color: var(--accent);
  background: var(--primary);
  border: 1px solid var(--accent);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  z-index: -1;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transform-origin: right;
}

button:hover {
  color: var(--primary);
  font-weight: bold;
}

button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

progress {
  accent-color: var(--accent);
}

table,
td {
  border: 1px solid var(--accent);
}

td,
th {
  text-align: center;
  padding: 0.5em;
}

th {
  background-color: var(--accent);
  color: var(--primary);
  font-weight: bold;
  border: 1px solid var(--primary);
}

/* Color classes */

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.brown {
  background-color: brown;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.turquoise {
  background-color: turquoise;
}

.light-sec.light-sec,
.light-sec.light-sec li::marker {
  color: var(--primary-lt);
}

/* Layout classes */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.overflower-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  max-width: 100vw;

  /* Sets the ideal size of it's children */
  --ideal-size: 30rem;

  padding-block: 2rem;
}

.overflower-flex > * {
  flex-basis: var(--ideal-size);
  flex-grow: 1;
  flex-shrink: 1;
}

.reverse_even_flex:nth-child(even){
  flex-direction: row-reverse;
}

.reverse_odd_flex:nth-child(odd){
  flex-direction: row-reverse;
}
