/*Header*/
.nav-btn {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  top: 0;
  background: var(--primary-black);
  height: 2rem;
}
header div {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--secondary-green);
}
