/*Main*/
main {
  width: 100%;
  background: var(--primary-lt);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.spacer {
  aspect-ratio: 960/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blue-peak {
  background-image: url('/image/svg/blue-peak.svg');
}

.blue-bot {
  background-image: url('/image/svg/blue-bot.svg');
}

.green-peak {
  background-image: url('/image/svg/green-peak.svg');
}

.green-bot {
  background-image: url('/image/svg/green-bot.svg');
}

.red-peak {
  background-image: url('/image/svg/red-peak.svg');
}

.red-bot {
  background-image: url('/image/svg/red-bot.svg');
}
.orange-peak {
  background-image: url('/image/svg/orange-peak.svg');
}

.orange-bot {
  background-image: url('/image/svg/orange-bot.svg');
}

.brown-peak {
  background-image: url('/image/svg/brown-peak.svg');
}

.brown-bot {
  background-image: url('/image/svg/brown-bot.svg');
}

.purple-peak {
  background-image: url('/image/svg/purple-peak.svg');
}

.purple-bot {
  background-image: url('/image/svg/purple-bot.svg');
}

.yellow-peak {
  background-image: url('/image/svg/yellow-peak.svg');
}

.yellow-bot {
  background-image: url('/image/svg/yellow-bot.svg');
}

.turquoise-peak {
  background-image: url('/image/svg/turquoise-peak.svg');
}

article {
  position: relative;
}

.light-sec {
  color: var(--primary-lt) !important;
  color: brown;
}

main section {
  width: 100%;
  padding-left: 2rem;
  padding: 2rem;
}

main h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#intro {
  font-style: italic;
}

#toc {
  padding: 2rem;
  width: 100vw;
}
#toc ul {
  list-style-type: disc;
  margin-left: 1.3rem;
  margin-bottom: 1rem;
}

.viewable_picture {
  cursor: pointer;
}

.pic_holder {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.pic_holder img {
  max-height: 95vh;
  max-width: 95vw;
  margin: auto;
  opacity: 1;
}

.doc {
  padding: 2rem;
  width: 100vw;
}
.doc ul {
  margin-left: 1.3rem;
  margin-bottom: 1rem;
  list-style-type: disc;
}
.docli h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary);
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.docli {
  padding: 2rem;
}

.vs {
  font-size: 3rem !important;
  padding: 2rem;
  padding-bottom: 4rem;
  line-height: 1;
}

.canvas_img {
  max-height: 40vh;
  max-width: 40vw;
}

.flowchart_img {
  height: 30vh;
  width: 100%;
  max-width: 40vw;
}

.voteresult {
  max-height: 50vh;
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'canvas_img voting_results';
}

.voteresult .canvas_img {
  grid-area: canvas_img;
  margin-left: auto;
  padding: 0;
}

.voteresult .voting_result {
  grid-area: voting_results;
  margin-right: auto;
  background: var(--primary);
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  .voting_result {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
  .vs {
    font-size: 2.5rem !important;
    padding-left: 0;
  }
}
