/*Navbar*/
nav {
  top: 2rem;
  height: 3rem;
  background: var(--primary-black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-name {
  color: white;
  font-size: 1.2rem;
}
nav button {
  height: 2rem;
  margin-left: 0.5rem;
}
