:root {
  --drop-down-height: 100vh;
}

.custom-select {
  position: relative;
  background-color: var(--primary-lt);
  width: 10rem;
  margin-left: -0.5rem;
  isolation: isolate;
  z-index: 99999999;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: var(--primary-lt);
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--secondary) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--secondary) transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: var(--secondary);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent var(--primary) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: var(--surface);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: var(--drop-down-height);
  overflow-y: auto;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: var(--primary-lt);
}
