main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3rem;
}

.canvas {
}

.vote_results {
  color: red;
}

.place_div {
}

.candidate_p {
}

.selected {
}

.voterdiv {
}

.candidate_div {
}

.delete_person {
}

.simulate_button {
}
