:root{
  --canvas-height: 660px;
  --canvas-width: 780px;
}

.canvas {
  grid-area: canvas;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.content_box{
  width: 280px;
  height: var(--canvas-height);
  margin-left: auto;
  margin-right: auto;
}

#sim_gombok {
  grid-area: sim-gombok;
  overflow-y: scroll;
}

#results-and-selected-div {
  grid-area: results-and-selected-div;
  align-self: start;
  --selected-height: 240px;
}

.under_selected{
  height: calc(var(--canvas-height) - var(--selected-height) - 17px - 1rem);
  border: 10px solid var(--primary);
  margin-top: 17px;
  overflow-y: scroll;
  background: var(--primary);
  padding: 1rem;
}

#vote_results {

}
#selected {
  border: 10px solid var(--primary);
  background: var(--primary);
  margin-top: 1rem;
  height: var(--selected-height);
  overflow-y: scroll;
  padding: 1rem;
}

.step_by_stepp {
  /* overflow-y: scroll; */
  /* position: absolute; */
  /* top: 800px; */
  /* margin-top: 1rem;
  padding: 1rem;
  background: var(--primary); */
  /* display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center; */
}

main {
  display: grid;
  grid-template-areas: "sim-gombok canvas results-and-selected-div";
}

body {
  overflow-y: hidden;
  background: var(--primary-lt);
}

#sim_gombok {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid var(--primary-lt);
  display: grid;
  justify-items: center;
  background: var(--primary);
}

.p_div_p {
  text-transform: lowercase;
  font-size: 0.9rem;
  padding: 0.5rem;
  font-family: "Comfortaa", cursive;
  text-align: center;
}
#new_environment_div {
  width: 100%;
  border-top: 1px solid var(--primary-lt);
  border-bottom: 1px solid var(--primary-lt);
  text-align: center;
  padding-bottom: 1rem;
}

.named_slider {
  /* The sytle of the divs which have a p and a slider */
  border: 1px solid var(--primary-lt);
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 5%;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

main button,
main select {
  width: 10rem;
}

ul,
ol{
  padding-left: 2em;
}

li::marker{
  color: var(--accent);
  padding-right: 0.05em;
}

.tick-marker::marker{
  content:"✔";
}


#edit_enviroment_div {
  width: 10vw auto;
  text-align: center;
  border-bottom: 1px solid var(--primary-lt);
  padding-bottom: 1rem;
}

#szimulation_div {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--primary-lt);
  padding-bottom: 1rem;
}

#tool_div {
  width: 10vw auto;
  text-align: center;
}

.person_profile_pic{
  height: 1em;
  width: 1em;
  border-radius: 50%;
  margin-right: 0.2em;
  vertical-align: middle;
}

.explaining_p{

}

.named_slider {
}

.canvas {
}

.place_div > * {
  /* each place in the vote_results div */
  margin-left: 1em;
}

.candidate_p {
  /* The candidates representation which only contains the candidates name and votes visualized by proggresbars*/

}
.progress_ {

}

.selected {
}

.voter_div {
  /* If the selected person is a voter, this is the style which the voter is gona appear in */
}

.candidate_div {
  /* If the selected person is a candidate, this is the style which the candidate is gona appear in */
}

.delete_person {
  /* The style of the delete button inside the selected div */
}

.named_slider_title {
  /* The title (p) of the named slider */
}

.simulate_button {
}

.stepping_box_title {
}

.next_stepp {
  /* The next button */
}
