main {
  top: 3rem;
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.sim_title {
  font-size: 70px;
  text-align: center;
}

.sim_gombok {
  display: flex;
  align-items: center;
  justify-content: center;
}
.canvas {
  order: 2;
  position: relative;
  left: 0px;
  top: 30px;
}

.vote_results {
  color: red;
}

.place_div {
}

.candidate_p {
}

.selected {
  position: relative;
  top: -370px;
  left: 740px;
}

.voterdiv {
}

.candidate_div {
}

.delete_person {
}

.named_slider {
}

.simulate_button {
}

.new_envitoment_div {
  width: 160px;
}

.simulation_div {
  width: 143.15px;
}
.edit_enviroment_div {
  width: 143.15px;
}
